/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: black;
}

a{text-decoration: none;
color:orange}